[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
pyyaml = "*"
pyserial = "*"

[dev-packages]
pytest = "*"
pipenv-setup = "*"
setuptools = "*"
wheel = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
